<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>停车服务</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--引入 element-ui 的样式，-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <style>
        .footer {
            position: fixed;
            left: 0px;
            bottom: 0px;
            width: 100%;
            height: 10%;
            background-color: #eee;
            z-index: 9999;
        }

        .con {
            position: unset;
            width: 50%;
            height: 100%;
            color: slategrey;
            text-align: center;
            font-size: 1.2em;
        }

        .cen {
            position: unset;
            width: 400px;
            height: 500px;
            text-align: center;
            font-size: 1.4em;

        }
    </style>
</head>

<body>

    <div id="app">
        <!-- Nav tabs 导航栏-->
        <div>

            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <a class="navbar-brand " href="/foruser">智能停车平台</a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="/myinfo">个人资料<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/info"></a>
                        </li>
                        <!-- Button trigger modal 修改密码对话框 -->
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="modal" data-target="#modelId">修改密码</a>
                        </li>

                        <!-- Modal -->
                        <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">修改用户密码</h5>
                                    </div>
                                    <div class="modal-body">

                                        <!-- 旧密码 -->
                                        <div class="form-group">
                                            <label for="">旧密码</label>
                                            <input type="password" class="form-control" v-model="oldpwd">
                                        </div>

                                        <!-- 新密码 -->
                                        <div class="form-group">
                                            <label for="">新密码</label>
                                            <input type="password" class="form-control" v-model="pwd1">
                                        </div>

                                        <!-- 再次输入 -->
                                        <div class="form-group">
                                            <label for="">再次输入</label>
                                            <input type="password" class="form-control" v-model="pwd2">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                        <button type="button" class="btn btn-primary" @click="change()">更改</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ul>
                    <form class="form-inline my-2 my-lg-0" action="/">

                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">退出</button>
                    </form>
                </div>
            </nav>
        </div>
        <el-breadcrumb separator-class="el-icon-arrow-right" style="margin-top: 3px;">
            <el-breadcrumb-item><a href="/foruser">首页</a></el-breadcrumb-item>
            <el-breadcrumb-item><a href="/parking.html">停车服务</a></el-breadcrumb-item>
            <el-breadcrumb-item>马上停车</el-breadcrumb-item>
        </el-breadcrumb>
        <!-- 主体功能栏 -->
        <div>
            <el-alert title="请到达停车场入口再点击“进场”按钮！" type="info">
            </el-alert>

            <!-- 停车ing -->
            <div style="margin: 20%;padding-left: 15%;padding-top: 15%;">
                <span
                    style="border-radius: 50%; height: 100px;width:100px;display: inline-block; background: #238ff9;      vertical-align: top;">
                    <span style="display: block;color: #FFFFFF;height: 100px; line-height: 100px; text-align: center">
                        <el-button type="text" @click="open" style="color: #FFFFFF;">进场</el-button>
                    </span>
                </span>
            </div>
        </div>
        <!-- 底部功能栏 -->
        <div class="footer">
            <el-row>
                <el-col  v-if="pvalue>0" :span="12" class="con">
                    <el-badge :value="pvalue" class="item" type="primary">
                        <span class="el-icon-place"></span>
                    </el-badge>
                    <div class="grid-content bg-purple" style="text-align: center;" ><a :href="'record?userid='+id">在停</a></div>
                </el-col>
                <el-col  v-else :span="12" class="con">
                   
                    <span class="el-icon-place"></span>
                    
                    <div class="grid-content bg-purple" style="text-align: center;">在停</div>
                </el-col>
                <el-col :span="12" class="con">
                    <span class="el-icon-user"></span>
                    <div class="grid-content bg-purple-light">我的</div>
                </el-col>
            </el-row>


        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        new Vue({
            el: '#app',
            data: {

                oldpwd: '',
                pwd1: '',
                pwd2: '',
                show: '',
                ss: '',
                name: '',
                tel: '',
                platenumber: '',
                id: '',
                value: '',
                pnumber2: '',
                activeNames: ['1'],
                plots: {},
                address1: '',
                name1: '',
                left: '',
                currentPage: 1,
                total: 0,
                pagesize: 10,
                plist: {},
                plotId: '',
                uri: '',
                pvalue: 0,
            },
            methods: {
                //弹框
                open: function () {
                    this.$confirm('是否已到达停车场入口?', '提示', {
                        confirmButtonText: '是，马上进场',
                        cancelButtonText: '否，还有一段距离',
                        type: 'warning'
                    }).then(() => {
                        this.$message({
                            type: 'success',
                            message: '马上为您抬杠...',
                        });
                        if (this.pvalue == 0) {
                            //当前进行中的订单记录为0才给进去
                            localStorage.setItem("plotid", this.plotId);
                            console.log(this.uri + '/seatList');
                            //创建停车记录
                            axios.post('/start', {
                                userid: this.id,
                                createtime: new Date().getTime()
                            })
                                .then(res => {
                                    console.log(res.data)
                                    var map = res.data;
                                    if (map.state == 1) {
                                        localStorage.setItem("recordid", map.recordid);
                                        localStorage.setItem("orderid", map.orderid);
                                        this.pvalue = 1;
                                        console.log("recordid:" + map.recordid);
                                        console.log("orderid:" + map.orderid);

                                    }
                                })
                                .catch(err => {
                                    console.error(err);
                                })
                            window.location.href = this.uri + '/seatList';
                        } else {
                            alert("您有一笔正在进行中的订单，请先完成支付！");
                        }

                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消入场'
                        });
                    });
                },
                // 分页
                handleSizeChange(val) {
                    console.log(`每页 ${val} 条`);
                },
                handleCurrentChange(val) {
                    console.log(`当前页: ${val}`);
                    this.currentPage = val;

                },
                // 展开
                handleChange: function (val) {
                    console.log(val);
                },
                // 密码修改
                change: function () {
                    axios.post('/changpwd', {
                        oldpwd: this.oldpwd,
                        pwd1: this.pwd1,
                        pwd2: this.pwd2
                    })
                        .then(res => {
                            console.log(res.data)
                            if (res.data == 'erropwd') {
                                alert('原密码输入错误');
                            }

                            if (res.data == 'noequal') {
                                alert('新密码两次不一致');
                            }

                            if (res.data == 'ok') {
                                $('#modelId').modal('hide')
                            }
                        })
                        .catch(err => {
                            console.error(err);
                        })
                },

            },
            computed: {

            },
            mounted() {

                var name = localStorage.getItem("name");
                var tel = localStorage.getItem("tel");
                var platenumber = localStorage.getItem("platenumber");
                var id = localStorage.getItem("id");
                this.tel = tel;
                this.name = name;
                this.platenumber = platenumber;
                this.id = id;
                this.value = platenumber.substr(0, 2);
                this.pnumber2 = platenumber.substr(2, 5);

                var url = location.href;
                this.uri = url;
                console.log(url);//要处理的url
                var index = url.lastIndexOf("\/");
                str = url.substring(index + 1, url.length);
                if (str.indexOf("?") != -1) {

                    str = str.split("?")[0];

                }
                //处理后的url
                this.plotId = str;
                console.log(this.plotId);
                console.log("userid:" + this.id);
                //正在进行的订单数
                axios.post('/orderCount', {
                    userid: this.id
                })
                    .then(res => {
                        console.log(res.data);
                        this.pvalue = res.data;
                    })
                    .catch(err => {
                        console.error(err);
                    })
               
            },
        })        
    </script>


</body>

</html>