<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>使用教程</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--引入 element-ui 的样式，-->
    <link rel="stylesheet" href="JS/element/index.css">
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="JS/vue/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="JS/element/index.js"></script>

    <!-- axios -->
    <script src="JS/axios/axios.min.js"></script>

    <!-- jquery -->
    <script src="JS/jq/jquery-3.3.1.min.js"></script>

    <style>
        .footer {
            position: fixed;
            left: 0px;
            bottom: 0px;
            width: 100%;
            height: 10%;
            background-color: #eee;
            z-index: 9999;
        }

        .con {
            position: unset;
            width: 50%;
            height: 100%;
            color: slategrey;
            text-align: center;
            font-size: 1.2em;
        }

        .cen {
            position: unset;
            width: 400px;
            height: 500px;
            text-align: center;
            font-size: 1.4em;

        }
    </style>
</head>

<body>

    <div id="app">
        <!-- Nav tabs 导航栏-->
        <div>

            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <a class="navbar-brand " href="/foruser">智能停车平台</a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">

                    <form class="form-inline my-2 my-lg-0" action="/main">

                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">退出</button>
                    </form>
                </div>
            </nav>
        </div>
        <el-breadcrumb separator-class="el-icon-arrow-right" style="margin-top: 3%;margin-bottom: 3%;">
            <el-breadcrumb-item><a href="/foruser">首页</a></el-breadcrumb-item>
            <el-breadcrumb-item><a href="/info">停车指南</a></el-breadcrumb-item>
            <el-breadcrumb-item>使用教程</el-breadcrumb-item>
        </el-breadcrumb>
        <!-- 主体功能栏 -->
        <div>
                <p>下图是首页，需要停车请点击【停车服务】</p>
            <img src="IMG/use/1.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="首页">
            <p>根据停车场的信息，选择你要去的停车场，根据需要选择马上停车或者预约停车。</p>
            <img src="IMG/use/3.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="首页">
            <p>进场按钮必须要到达停车场门口再按，否则产生多余费用并且会导致进场失败</p>
            <img src="IMG/use/4.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="首页">
            <p>进入车场后把您停车的泊位号填入</p>
            <img src="IMG/use/5.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="首页">
            <img src="IMG/use/6.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="首页">
            <img src="IMG/use/7.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="首页">
            <p>查看当前停车信息</p><img src="IMG/use/8.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="首页">
            <p>出场必须先支付订单，并且在五分之内离场。出场按钮只能使用一次</p>
            <img src="IMG/use/9.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="首页">
            <img src="IMG/use/10.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="首页">
            <img src="IMG/use/11.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="首页">
            <img src="IMG/use/12.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="首页">
            <img src="IMG/use/13.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="首页">
            <img src="IMG/use/14.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="首页">

        </div>
        
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        new Vue({
            el: '#app',
            data: {

                oldpwd: '',
                pwd1: '',
                pwd2: '',
                show: '',
                ss: '',
                name: '',
                tel: '',
                platenumber: '',
                id: '',
                value: '',
                pnumber2: '',
                
            },
            methods: {

            },
            computed: {

            },
            mounted() {

                var name = localStorage.getItem("name");
                var tel = localStorage.getItem("tel");
                var platenumber = localStorage.getItem("platenumber");
                var id = localStorage.getItem("id");
                this.tel = tel;
                this.name = name;
                this.platenumber = platenumber;
                this.id = id;
                this.value = platenumber.substr(0, 2);
                this.pnumber2 = platenumber.substr(2, 5);

            },
        })        
    </script>


</body>

</html>